In [2]:
import pandas as pd
df=pd.read_csv(r'D:\GuviProject4\swiggy.csv')
df

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json
...,...,...,...,...,...,...,...,...,...,...,...
148536,553122,The Food Delight,Yavatmal,--,Too Few Ratings,₹ 200,"Fast Food,Snacks",21522053000452,https://www.swiggy.com/restaurants/the-food-de...,"The Food Delight, 94MC+X35, New Singhania Naga...",Menu/553122.json
148537,562647,MAITRI FOODS & BEVERAGES,Yavatmal,--,Too Few Ratings,₹ 300,Pizzas,license,https://www.swiggy.com/restaurants/maitri-food...,"MAITRI FOODS & BEVERAGES, POLIC MITRYA SOCIETY...",Menu/562647.json
148538,559435,Cafe Bella Ciao,Yavatmal,--,Too Few Ratings,₹ 300,"Fast Food,Snacks",21522251000378,https://www.swiggy.com/restaurants/cafe-bella-...,"Cafe Bella Ciao, SHOP NO 2 NEMANI MARKET SBI S...",Menu/559435.json
148539,418989,GRILL ZILLA,Yavatmal,--,Too Few Ratings,₹ 250,Continental,21521251000241,https://www.swiggy.com/restaurants/grill-zilla...,"GRILL ZILLA, SHO NO 2/6, POSTEL GROUND CHOWPAT...",Menu/418989.json
148540,447770,Lazeez kitchen,Yavatmal,--,Too Few Ratings,₹ 200,Pizzas,21521251000634,https://www.swiggy.com/restaurants/lazeez-kitc...,"Lazeez kitchen, 94G3+2RR, Wadgaon, Yavatmal, M...",Menu/447770.json

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148541 entries, 0 to 148540
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148541 non-null  int64
 1   name          148455 non-null  object
 2   city          148541 non-null  object
 3   rating        148455 non-null  object
 4   rating_count  148455 non-null  object
 5   cost          148410 non-null  object
 6   cuisine       148442 non-null  object
 7   lic_no        148312 non-null  object
 8   link          148541 non-null  object
 9   address       148455 non-null  object
 10  menu          148541 non-null  object
dtypes: int64(1), object(10)
memory usage: 12.5+ MB

In [4]:
df.drop(columns=['id','lic_no','link','address','menu'],inplace=True)

In [9]:
sum(df.duplicated())

0

In [ ]:
df.drop_duplicates(inplace=True)

In [10]:
df.reset_index()

,index,name,city,rating,rating_count,cost,cuisine
0,0,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas"
1,1,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery"
2,2,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages
3,3,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian"
4,4,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food"
...,...,...,...,...,...,...,...
148501,148536,The Food Delight,Yavatmal,--,Too Few Ratings,₹ 200,"Fast Food,Snacks"
148502,148537,MAITRI FOODS & BEVERAGES,Yavatmal,--,Too Few Ratings,₹ 300,Pizzas
148503,148538,Cafe Bella Ciao,Yavatmal,--,Too Few Ratings,₹ 300,"Fast Food,Snacks"
148504,148539,GRILL ZILLA,Yavatmal,--,Too Few Ratings,₹ 250,Continental
148505,148540,Lazeez kitchen,Yavatmal,--,Too Few Ratings,₹ 200,Pizzas

In [14]:
df.to_csv('duplicatedremoved.csv')

In [3]:
import pandas as pd
df=pd.read_csv(r'D:\GuviProject4\duplicatedremoved.csv')

In [5]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [9]:
df.head()

,name,city,rating,rating_count,cost,cuisine
0,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas"
1,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery"
2,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages
3,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian"
4,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food"

In [22]:
df['main_city']=df['city'].apply(lambda x: x.split(',')[-1] if len(x.split(','))>1 else None)

In [27]:
df['city']=df['city'].apply(lambda x: ','.join(x.split(',')[:-1]).strip() if len(x.split(','))>1 else x)

In [40]:
df.to_csv('last.csv',index=False)

In [54]:
import pandas as pd
df=pd.read_csv(r'D:\GuviProject4\last.csv')

In [55]:
df['cost']=df['cost'].str.replace('₹','')

In [56]:
df

,name,city,rating,rating_count,cost,cuisine,main_city
0,AB FOODS POINT,Abohar,--,Too Few Ratings,200,"Beverages,Pizzas",NaN
1,Janta Sweet House,Abohar,4.4,50+ ratings,200,"Sweets,Bakery",NaN
2,theka coffee desi,Abohar,3.8,100+ ratings,100,Beverages,NaN
3,Singh Hut,Abohar,3.7,20+ ratings,250,"Fast Food,Indian",NaN
4,GRILL MASTERS,Abohar,--,Too Few Ratings,250,"Italian-American,Fast Food",NaN
...,...,...,...,...,...,...,...
148501,The Food Delight,Yavatmal,--,Too Few Ratings,200,"Fast Food,Snacks",NaN
148502,MAITRI FOODS & BEVERAGES,Yavatmal,--,Too Few Ratings,300,Pizzas,NaN
148503,Cafe Bella Ciao,Yavatmal,--,Too Few Ratings,300,"Fast Food,Snacks",NaN
148504,GRILL ZILLA,Yavatmal,--,Too Few Ratings,250,Continental,NaN
148505,Lazeez kitchen,Yavatmal,--,Too Few Ratings,200,Pizzas,NaN

In [57]:
df['rating']=pd.to_numeric(df['rating'],errors='coerce')

In [60]:
df.head()

,name,city,rating,rating_count,cost,cuisine,main_city
0,AB FOODS POINT,Abohar,4.1,Too Few Ratings,200,"Beverages,Pizzas",NaN
1,Janta Sweet House,Abohar,4.4,50+ ratings,200,"Sweets,Bakery",NaN
2,theka coffee desi,Abohar,3.8,100+ ratings,100,Beverages,NaN
3,Singh Hut,Abohar,3.7,20+ ratings,250,"Fast Food,Indian",NaN
4,GRILL MASTERS,Abohar,4.1,Too Few Ratings,250,"Italian-American,Fast Food",NaN

In [59]:
df['rating']=df['rating'].fillna(df.groupby('city')['rating'].transform(lambda x: x.mean())).round(1)

In [49]:
df.drop(['new_rating'],axis=1,inplace=True)

In [67]:
df['rating']=df['rating'].fillna(df['rating'].mean())

In [73]:
df.to_csv('final.csv',index=False)

In [86]:
df['rating_count'].unique()

array(['Too Few Ratings', '50+ ratings', '100+ ratings', '20+ ratings',
       '500+ ratings', '1K+ ratings', '5K+ ratings', nan, '10K+ ratings'],
      dtype=object)

In [92]:
df['rating_counts']=df['rating_count'].str.replace('ratings','').str.replace('+','')

In [95]:
df['rating_counts']=df['rating_counts'].str.replace('Too Few Ratings','')

In [97]:
df['rating_counts']=pd.to_numeric(df['rating_counts'],errors='coerce')

In [101]:
df['rating_counts']=df.groupby('city')['rating_counts'].transform(lambda x: x.fillna(x.mean())).round(1)

In [106]:
df['rating_counts']=df['rating_counts'].fillna(df['rating_counts'].mean())

In [108]:
df['rating_counts']=df['rating_counts'].astype(int)

In [ ]:
import random
def random_generator(x):
    if x==20:
        return x + random.randrange(5,25,5)
    elif x==50:
        return x + random.randrange(10,50,10)
    elif x==100:
        return x + random.randrange(20,400,25)
    elif x==500:
        return x + random.randrange(50,500,50)
    elif x==

,name,city,rating,rating_count,cost,cuisine,main_city,rating_counts
0,AB FOODS POINT,Abohar,4.1,Too Few Ratings,200,"Beverages,Pizzas",NaN,40
1,Janta Sweet House,Abohar,4.4,50+ ratings,200,"Sweets,Bakery",NaN,50
2,theka coffee desi,Abohar,3.8,100+ ratings,100,Beverages,NaN,100
3,Singh Hut,Abohar,3.7,20+ ratings,250,"Fast Food,Indian",NaN,20
4,GRILL MASTERS,Abohar,4.1,Too Few Ratings,250,"Italian-American,Fast Food",NaN,40
...,...,...,...,...,...,...,...,...
148501,The Food Delight,Yavatmal,3.7,Too Few Ratings,200,"Fast Food,Snacks",NaN,37
148502,MAITRI FOODS & BEVERAGES,Yavatmal,3.7,Too Few Ratings,300,Pizzas,NaN,37
148503,Cafe Bella Ciao,Yavatmal,3.7,Too Few Ratings,300,"Fast Food,Snacks",NaN,37
148504,GRILL ZILLA,Yavatmal,3.7,Too Few Ratings,250,Continental,NaN,37
148505,Lazeez kitchen,Yavatmal,3.7,Too Few Ratings,200,Pizzas,NaN,37